@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(11, 41, 25);
    width: 100%;
    min-height: max-content;
}

.genius {
    grid-template-areas: "green red" "yellow blue";
    gap: 10px;
}

.blue {
    grid-area: blue;
}

.yellow {
    grid-area: yellow;
}

.red {
    grid-area: red;
}

.green {
    grid-area: green;
}

.selected {
    opacity: 0.8;
}